*{
    margin:0px;
    padding: 0px;
    font-family: segoe UI;
}


.container{
    width: 80%;
    padding-top: 6px;
    padding-bottom: 290px;
    /*background-color: grey;*/
    margin-left: 10%;
}

.padd{
    padding: 20px;
}

.header{
    height: 10px;
    width:100%;
    /*background-color: red;*/
    display: flex;
    justify-content: space-between;
}

.cards{
    width: 100%;
    /*height: 200px;*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    /*background-color: lightgray;*/
}

.opened{
    display: none;
}

.card{
    margin-top: 45px;
    height: 180px;
    width: 18%;
    background-color: lightyellow;
    background-size: cover;
}

.overlay{
    height: 200px;
    width: 100%;
    background-color: mediumslateblue;
}